org: andrealoyola
service: api-comentario

provider:
  name: aws
  runtime: python3.13
  stage: ${opt:stage, 'dev'}
  memorySize: 1024
  timeout: 20
  role: arn:aws:iam::773697219055:role/LabRole

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:PutObjectAcl
            - s3:PutObjectTagging
            - s3:ListBucket
          Resource:
            - arn:aws:s3:::${self:provider.stage}-${self:service}-ingesta
            - arn:aws:s3:::${self:provider.stage}-${self:service}-ingesta/*

  environment:
    TABLE_NAME: ${self:provider.stage}-t_comentarios
    INGEST_BUCKET: ${self:provider.stage}-${self:service}-ingesta
    STAGE: ${self:provider.stage}

functions:
  crear:
    handler: comentario.lambda_handler
    events:
      - http:
          path: /comentario/crear
          method: post
          cors: true
          integration: lambda

resources:
  Resources:
    TablaComentarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    IngestBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.stage}-${self:service}-ingesta
        VersioningConfiguration:
          Status: Enabled
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        Tags:
          - Key: Stage
            Value: ${self:provider.stage}
          - Key: Service
            Value: ${self:service}

  Outputs:
    IngestBucketName:
      Description: "Bucket de ingesta para comentarios"
      Value: ${self:provider.stage}-${self:service}-ingesta
      Export:
        Name: ${self:service}:${self:provider.stage}:IngestBucketName
